<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<h1>Detail</h1>
<table border="1">

  <tr>
      <th>작성자</th>
      <td><input type="text" value="{{ list.myname }}" readonly></td>
    </tr>
    <tr>
      <th>제목</th>
      <td><input type="text" value="{{ list.mytitle }}" readonly></td>
    </tr>
    <tr>
      <th>내용</th>
      <td><textarea cols="60" rows="10" readonly>{{ list.mycontent }}</textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <input type="button" value="목록" onclick="location.href='{% url 'index' %}'">
        <input type="button" value="수정" onclick="location.href='{% url 'update' list.id %}'">
        <input type="button" value="삭제" onclick="location.href='{% url 'delete' list.id %}'">
      </td>
    </tr>
</table>

</body>
</html>